*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    font-size: 2vw;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
     /* 
       list-style: none = No marker is shown 
     */
}
a {
    color: #34495e;
    text-decoration: none;
     /* 
       text-decoration: none - is used here to not show underlining under an anchor element when a mouse hovers over it.
       Comment it out and check the result on the page.
     */
    }

.logo {
    margin: 0;
}
.logo img{
    width: 3em;
    height: 3em;
}


section {
    text-align: center;
    margin: 5% auto auto auto;
    padding: 1em;
    width: 20em;
    background-color: #4baaea;
    border-radius: 5px;
    display: block;
        /* 
            display: block - displays an element as a block element. It starts on a new line, and takes up the whole width
        */
}
header {
    padding:0.5em;
    border: 1px solid #646174;
    background-color: #4baaea;
    box-shadow: 0px 0px 1em 0px rgba(0, 0, 0, 0.75);
    position:sticky;
    margin: 0.1%;
    width: 98vw;
    border-radius: 5px;
}
.nav {
    margin-top: 1%;
}
.nav a {
    padding: 0.5em;
    text-align: center;
    display: block;
    color:black;
}
.nav a:not(.first-child){
    border-left: 1px solid #000000;
}

@media (min-width:1px) {
    header,
    .nav {
        display: flex;
    }
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    
}