div>p{}
div+p{}
div~p{}
*{
    color: #000;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    font-size: 2vw;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
     /* 
       list-style: none = No marker is shown 
     */
}
a {
    color: #000;
    text-decoration: none;
     /* 
       text-decoration: none - is used here to not show underlining under an anchor element when a mouse hovers over it.
       Comment it out and check the result on the page.
     */
    }

p {
    margin-top: 0%;
    margin-bottom: 0%;
}
.logo {
    margin: 0;
}
.logo img{
    width: 3em;
    height: 3em;
}


section {
    text-align: center;
    margin: 5% auto auto auto;
    padding: 1em;
    width: 30vw;
    background-color: #95e6b9;
    display: block;
}
header {
    width:100%;
    padding:0.5em;
    background-color: #4bea93;
}
footer {
    padding:0.5em;
    background-color: #4bea93;
    margin-top:1%;
    position:sticky;
}
.nav {
    margin-top: 1%;
}
.nav a {
    padding: 0.5em;
    text-align: center;
    display: block;
    color:#000;
}
.nav a:hover{
    transition-duration: 200ms;
    background-color: #2c9f60;
}
.nav a:not(.first-child){
    border-left: 1px solid #000000;
}

.leftbar{
    position: sticky;
    width: 15vw;
    margin: 1%;
    background-color: #000000;
    border-radius: 5px;
}
.rightbar{
    position: sticky;
    margin:1%;
    width: 15vw;
    background-color: #000000;
    border-radius: 5px;
}
.posts{
    position: relative;
    justify-content: center;
}
.posts ul {
    flex-direction: column;
}
.posts li {
    margin-top: 1vh;
    flex-direction: column;
    justify-content: center;
    padding: 1% 1% 1% 1%;
    background-color: #95e6b9;
}
.comment {
    flex-direction: column;
}
.comment img  {
    width: 100%;
}
.profile {
    flex-direction: row;
    justify-content: space-between;
}
.profile img {
    width: 2em;
    height: 2em;
}

.inForm{
    color: #006e31;
}
.inForm:hover{
    color: #ffffff;
}
.postBox{
    background-color: #95e6b9;
    text-align:center;
    width:50%;
    height:50%;
    margin: 15% 25% 25% 25%;
}
form{
    margin:5%;
}
input[type=button]{
    background:#4bea93;
    color:#000;
    border: #fff;
    padding:1vw 1vh;
}
#submit{
    background:#4bea93;
    color:#000;
    border: #fff;
    padding:1vw 1vh;
    margin-top: 1%;
    margin-bottom: 1%;
}
#textbox{
    color:#000;
    background-color: #fff;
    border: #fff;
    margin-bottom: 1%;
}
#submit:hover{
    transition-duration: 200ms;
    background-color: #2c9f60;
}
input[type=button]:hover{
    transition-duration: 200ms;
    background-color: #2c9f60;
}

@media (min-width:1px) {
    body,
    header,
    footer,
    .middle,
    .leftbar,
    .rightbar,
    .posts,
    .profile,
    .comment,
    .nav,
    .nav {
        display: flex;
    }
    body {
        flex-direction: column;
        justify-content: center;
        background-color: #000000;
    }
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    .middle{
        flex-direction: row;
        justify-content: space-between;
    }
    .leftbar{
        flex-direction: column;
        justify-content: flex-start;
    }
    .rightbar{
        flex-direction: column;
        justify-content: flex-start;
    }
    .posts{
        flex-direction: column;
        justify-content: flex-start;
    }
    footer {
        flex-direction: row;
        justify-content: center;
    }
    
}