*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
     /* 
       list-style: none = No marker is shown 
     */
}
a {
    color: #34495e;
    text-decoration: none;
     /* 
       text-decoration: none - is used here to not show underlining under an anchor element when a mouse hovers over it.
       Comment it out and check the result on the page.
     */
    }

.logo {
    margin: 0;
    font-size: 1.1em;
}

section {
    padding: 60px 15px;
    margin: 10px;
    display: block;
        /* 
            display: block - displays an element as a block element. It starts on a new line, and takes up the whole width
        */
}
.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #646174;
    background-color: #4baaea;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    overflow: scroll;
    position:fixed;
    width: 100%;
    border-radius: 5px;
}
.nav {
    margin-top: 5px;
}
.nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color:black;
    font-size: .99em;
}

@media (min-width:1px) {
    .header,
    .nav {
        display: flex;
    }
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
    
}